.grid {
  position: static;
  /* background-color: #333 !important; */
  padding: 0px;
  /* background-color: var(--darkreader-bg--mantine-color-white); */
  border-radius: 10px;
}

.card {
  /* border: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5)); */
  border: 10px solid #444 !important;
  padding-top:20px !important;
}

.cardTitleContainer {
  position:relative;
  border-bottom: 1px solid var(--mantine-color-blue-filled);
  width:100% !important;
  margin-bottom:20px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, .2);

  nav {
    position:absolute;
    bottom:0;
    right:0;
    width:auto;
    background-color:#232627 !important;

    div {
      background-color:#232627 !important;

      div {background-color:#232627 !important;}
    }

    button {background-color:#232627 !important;}
  }
}
.cardTitleIcon {
  position:relative;
  top:12px;
}
.cardTitle {
  text-align: left;
  font-size: rem(30px) !important;
  padding:0 !important;
  width:80%;
  position:relative;
  top:11px;
  color: var(--mantine-color-dimmed) !important;
}