install.doctor
id/
zx/node_modules
firstrun
apple.txt
.chezmoidata/all.json
.chezmoidata/merged.json
.chezmoidata/merged.yaml
.chezmoidata/merged2.json
.chezmoidata/software.yml
**/backup*
.aider*
ui/server/.env
software-custom.json
client/node_modules
server/node_modules
server/.env
node_modules
.turbo
.env
server/combined.log
server/error.log
server/error.log
blueprint.md
software.yml.backup
server/db-error.log
server/db.log
server/prisma/dev.db
