#!/bin/bash
printf "\n\n\n"

echo ".................    ....:::::::::......  ..................
.............   ..:::----------------:::....   .............
...........  ..:---==-:..   ..   ...        ...  ...........
........  .:=+=+===:.                       ..::............
....... .-+****++=.                            .............
.....  -+*******=.                                  ........
.... .+********-.                                     ......
... :*********-                                        .....
.. -**********:                           . ..          ....
. :***********:                       .---=-----:.        ..
 .************:                     . :+**+==-----:    ..:..
 =*+**********:                      :+*++**+=+----.  .---.:
.*************-                   ..-+*++++++**=--=:   :--:.
-*************+        ....       -**********+===-:... .---.
-*************+:      :=++=--:.: :+**=:::::::::...      :--.
-**************+.    .-=+*****+-=**+*:                  .--.
-***************=.    .--+*++*****++*-:::::.. .:::.  ...:--.
:***************+.     :--++**++**********+---+**#*: .-=---
 =**************+:   .------=**+******+++++=+=-+****: .---.
 :****************+: -----+=-=+**+***********=-=++==:  :=: .
. -***************+.:--==+++--=++**********+++==--:  :---. .
.. -***********+*=.:--+*****=----+***+******+=:... .:---. ..
... -**++==+**+*+.:--+*******=----=+****+*+*+=-:   .---. ...
.... .:..:+#*+#%=-----==+****+------==++*****==:  :--:. ....
.....   *@@%%#%%+=++=--=+*****+=---:..:---=+++-.  :-. ......
........:+%@@%%%****+++*******+=--=-:+#+==-. .       .......
........  .=#%@@#+++*********=-==++-=#%%****=.   ...........
..........   :=*%#***********++***-=#%%%%*+**: .............
.............   .--=++************+#%%#*+-..  ..............
................    ...::--=====----::.    ................."


printf "\n\n"

LOGFILE="./install-log-$(date +"%Y-%m-%d %H:%M:%S").log"

log() {
    echo "$(date +"%Y-%m-%d %H:%M:%S") - $1" | tee -a "$LOGFILE"
}

exec > >(tee -a "$LOGFILE") 2>&1

os=$(uname)
cwd=$HOME/.local/share/chezmoi

prepMac() {
  # Ensure Homebrew is installed
  # if ! command -v brew &> /dev/null; then
  #   log "Homebrew is not installed. Installing..."
  #   /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  # fi

  # # Ensure Chezmoi is installed
  # if ! command -v chezmoi &> /dev/null; then
  #   log "Chezmoi is not installed. Installing..."
  #   brew install chezmoi
  #   if ! command -v chezmoi &> /dev/null; then
  #     log "Failed to install Chezmoi. Exiting..."
  #     exit 1
  #   fi
  # fi

  if ! [ -f "$HOME/.config/vault/key.age" ]; then
    log "Decryption key missing - exiting..."
    exit 1
  else
    log "Executing mac.mjs..."
    "$cwd/zx/mac.mjs"
  fi
}

log "Installation started..."

if [[ "$os" == "Linux" ]]; then
  log "Linux"
elif [[ "$os" == "Darwin" ]]; then
  log "MacOS"
  prepMac
elif [[ "$os" == "Windows" ]]; then
  log "Windows"
else
  log "Unknown OS"
fi