#!/bin/bash
printf "\n\n\n"

echo ".................    ....:::::::::......  ..................
.............   ..:::----------------:::....   .............
...........  ..:---==-:..   ..   ...        ...  ...........
........  .:=+=+===:.                       ..::............
....... .-+****++=.                            .............
.....  -+*******=.                                  ........
.... .+********-.                                     ......
... :*********-                                        .....
.. -**********:                           . ..          ....
. :***********:                       .---=-----:.        ..
 .************:                     . :+**+==-----:    ..:..
 =*+**********:                      :+*++**+=+----.  .---.:
.*************-                   ..-+*++++++**=--=:   :--:.
-*************+        ....       -**********+===-:... .---.
-*************+:      :=++=--:.: :+**=:::::::::...      :--.
-**************+.    .-=+*****+-=**+*:                  .--.
-***************=.    .--+*++*****++*-:::::.. .:::.  ...:--.
:***************+.     :--++**++**********+---+**#*: .-=---
 =**************+:   .------=**+******+++++=+=-+****: .---.
 :****************+: -----+=-=+**+***********=-=++==:  :=: .
. -***************+.:--==+++--=++**********+++==--:  :---. .
.. -***********+*=.:--+*****=----+***+******+=:... .:---. ..
... -**++==+**+*+.:--+*******=----=+****+*+*+=-:   .---. ...
.... .:..:+#*+#%=-----==+****+------==++*****==:  :--:. ....
.....   *@@%%#%%+=++=--=+*****+=---:..:---=+++-.  :-. ......
........:+%@@%%%****+++*******+=--=-:+#+==-. .       .......
........  .=#%@@#+++*********=-==++-=#%%****=.   ...........
..........   :=*%#***********++***-=#%%%%*+**: .............
.............   .--=++************+#%%#*+-..  ..............
................    ...::--=====----::.    ................."


printf "\n\n"

LOGFILE="./install-log-$(date +"%Y-%m-%d %H:%M:%S").log"

log() {
    echo "$(date +"%Y-%m-%d %H:%M:%S") - $1" | tee -a "$LOGFILE"
}

exec > >(tee -a "$LOGFILE") 2>&1

os=$(uname)
cwd=$HOME/.local/share/chezmoi

checkEncryptionKey() {
  # Check existance of decryption key
  if ! [ -f "$HOME/.config/vault/key.age" ]; then
    log "Decryption key missing - exiting..."
    exit 1
  fi
}

prepMac() {
  # Ensure Homebrew is installed
  if ! command -v brew &> /dev/null; then
    log "Homebrew is not installed. Installing..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  fi

  # Ensure Chezmoi is installed
  if ! command -v chezmoi &> /dev/null; then
    log "Chezmoi is not installed. Installing..."
    brew install chezmoi
    if ! command -v chezmoi &> /dev/null; then
      log "Failed to install Chezmoi. Exiting..."
      exit 1
    fi
  fi

  # Rust and Cargo Setup
  printf "\n\n"
  if command -v cargo &> /dev/null; then
    echo "Cargo is already installed at $(cargo --version). Skipping..."
  else
    echo "Installing Rustup and Cargo..."
    $HOME/.local/share/chezmoi/bin/rustup-init.sh -y
  fi

  checkEncryptionKey # Script exit on missing key
}

log "Installation started..."

if [[ "$os" == "Linux" ]]; then
  log "Linux"
elif [[ "$os" == "Darwin" ]]; then
  log "MacOS"
  prepMac
  "$cwd/zx/mac.mjs"
elif [[ "$os" == "Windows" ]]; then
  log "Windows"
else
  log "Unknown OS"
fi