{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}


{{ range $app, $binary := .packages.darwin.binaryMac -}}
curl -sL {{ $binary.url }} -o {{ $binary.name }} -o '{{ $binary.name }}'
open '{{ $binary.name }}' && cp -r '/Volumes/{{ $app }}/{{ $app }}.App' '/Applications//{{ $app }}.App'
{{ end -}}

