{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}


# Given the following yaml structure:
#   binaryMac:
#    - 'Arc Browser':
#      name: 'Arc-latest.dmg'
#      url: 'https://releases.arc.net/release/Arc-latest.dmg'
# Loop through binaryMac, fetch {{url}} with curl and execute {{name}}
{{ range .packages.darwin.binaryMac -}}
curl -sL {{ .url }} -o {{ .name }}
open {{ .name }}
{{ end -}}

