{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}


{{ range $app, $binary := .packages.darwin.binaryMac -}}
echo "Downloading {{ $binary.name }} from {{ $binary.url }}"
curl -sL {{ $binary.url }} -o {{ $binary.name }} -o '{{ $binary.name }}'

echo "Mounting {{ $binary.name }}"
volume=$(hdiutil attach "{{ $binary.name }}" | grep '/Volumes/' | awk '{ print $3 }')

echo "Volume: $volume"

app_path=$(find "/Volumes/{{ $binary.name }}" -name "*.App" -maxdepth 1)

if [ -n "$app_path" ]; then
    echo "Copying $app_path to /Applications"
    cp -R "$app_path" /Applications/
else
    echo "No .app file found in $volume"
fi

echo "Unmounting $volume"
hdiutil detach "$volume"

rm "{{ $binary.name }}"

{{ end -}}

