#!/bin/bash
printf "\n\n\n"

echo ".................    ....:::::::::......  ..................
.............   ..:::----------------:::....   .............
...........  ..:---==-:..   ..   ...        ...  ...........
........  .:=+=+===:.                       ..::............
....... .-+****++=.                            .............
.....  -+*******=.                                  ........
.... .+********-.                                     ......
... :*********-                                        .....
.. -**********:                           . ..          ....
. :***********:                       .---=-----:.        ..
 .************:                     . :+**+==-----:    ..:..
 =*+**********:                      :+*++**+=+----.  .---.:
.*************-                   ..-+*++++++**=--=:   :--:.
-*************+        ....       -**********+===-:... .---.
-*************+:      :=++=--:.: :+**=:::::::::...      :--.
-**************+.    .-=+*****+-=**+*:                  .--.
-***************=.    .--+*++*****++*-:::::.. .:::.  ...:--.
:***************+.     :--++**++**********+---+**#*: .-=---
 =**************+:   .------=**+******+++++=+=-+****: .---.
 :****************+: -----+=-=+**+***********=-=++==:  :=: .
. -***************+.:--==+++--=++**********+++==--:  :---. .
.. -***********+*=.:--+*****=----+***+******+=:... .:---. ..
... -**++==+**+*+.:--+*******=----=+****+*+*+=-:   .---. ...
.... .:..:+#*+#%=-----==+****+------==++*****==:  :--:. ....
.....   *@@%%#%%+=++=--=+*****+=---:..:---=+++-.  :-. ......
........:+%@@%%%****+++*******+=--=-:+#+==-. .       .......
........  .=#%@@#+++*********=-==++-=#%%****=.   ...........
..........   :=*%#***********++***-=#%%%%*+**: .............
.............   .--=++************+#%%#*+-..  ..............
................    ...::--=====----::.    ................."


printf "\n\n"

LOGFILE="./install-log-$(date +"%Y-%m-%d %H:%M:%S").log"

log() {
    echo "$(date +"%Y-%m-%d %H:%M:%S") - $1" | tee -a "$LOGFILE"
}

exec > >(tee -a "$LOGFILE") 2>&1

log "Installation started..."

echo "Installing prerequisites"
echo ""

# echo "Deploying package manager Bin..."
# sudo cp ./bin/bin /usr/local/bin/
# echo "Done."

# Rust and Cargo Setup
printf "\n\n"
if which cargo &> /dev/null; then
  echo "Cargo is already installed at $(cargo --version). Skipping..."
else
  echo "Installing Rustup and Cargo..."
  $HOME/.local/share/chezmoi/bin/rustup-init.sh -y
fi

# Homebrew setup
if ! which brew &> /dev/null; then
  echo "Installing Homebrew..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  echo "Done."
fi

printf "\n\n"
{{ range .packages.linux.pre.brews -}}
if ! which {{ . | quote }} &> /dev/null; then
  brew install {{ . | quote }}
fi
{{ end -}}

printf "\n\n"
echo "Setting up Node and PNPM..."
if ! which node &> /dev/null; then
  echo "Installing Node LTS..."
  volta install node
else
  echo "Node already installed at version $(node -v)"
fi

if ! which pnpm &> /dev/null; then
  echo "Installing PNPM..."
  volta install pnpm
else
  echo "PNPM already installed at version $(pnpm -v)"
fi

printf "\n\n"
brew update

if ! [ -f $HOME/.local/share/chezmoi/firstrun ]; then
  printf "\n\n"
  echo "Tapping Homebrew repos..."
  {{ range .packages.taps -}}
  brew tap {{ . | quote }}
  {{ end -}}
  touch $HOME/.local/share/chezmoi/firstrun
fi

echo "Done installing prerequisites."

