.header {
  /* height: rem(84px);
  margin-bottom: rem(120px); */
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  border-radius: 8px;
  /* border:1px solid; */
  padding-bottom:20px;
  margin-top:-12px !important;
  margin-bottom:0 !important;
  /* background-color: transparent; */
}

.inner {
  /* height: rem(84px); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border:none;
}

.links {
  padding-top: var(--mantine-spacing-lg);
  /* height: rem(84px); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border:none;
}

.mainLinks {
  margin-right: calc(var(--mantine-spacing-sm) * -1);
}
/*
font-family -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"
font-size 12px
font-weight 700
height 34.5938px
line-height 18.6px
margin-bottom 0px
margin-left 0px
margin-right 0px
margin-top 0px
padding-bottom 7px
padding-left 12px
padding-right 12px
padding-top 7px
text-decoration-color rgb(0, 0, 0)
text-decoration-line none
text-decoration-style solid
text-decoration-thickness auto
text-transform uppercase
*/
.mainLink {
  margin:0;
  text-transform: uppercase;
  font-size: var(--mantine-font-size-xs);
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
  padding: rem(7px) var(--mantine-spacing-sm);
  padding:7px 12px 7px 12px;
  font-weight: 700;
  border-bottom: rem(2px) solid transparent;
  text-transform: uppercase;
  transition:
    border-color 100ms ease,
    color 100ms ease;

  @mixin hover {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    text-decoration: none;
  }

  &[data-active] {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    border-bottom-color: var(--mantine-color-blue-6);
    border-bottom-color: rgb(34, 139, 230) !important;
  }
}