.paginationContainer {
  margin:20px 0;
}

.pagination {
  margin:0 !important;
  padding:0 !important;
}

.paginationInfo {
  margin:0 !important;
  padding:0 !important;
}

.cardTitleAddIcon {
  position: absolute !important;
  top: 33px;
  top: 38px !important;
  right: 24px !important;
  background-color: transparent !important;
}

.active {
  background-color: #007bff !important;
  color: white !important;
}