.header {
  /* height: rem(56px); */
  display: flex;
  justify-content: flex-start;
  align-items: left;
  padding-top: 0;
  /* position: fixed;
  z-index: 100;
  width: 1107px; */
  height: 100px;

  img {
    /* margin: 0 20px 0 -105px; */
  }

  h1 {
    font-family: Roboto, sans-serif;
    font-weight: normal;

    margin: 0;
  }
}


.navbar {
  position: relative;
  height: 100px;
  padding: 0 !important;
  margin: 0 !important;
}

.navbarLogo {
  padding: 0 !important;
  margin: 0 !important;
}


.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: var(--mantine-color-blue-filled);
    color: var(--mantine-color-white);
  }
}

.scrollContainer {
  overflow-y: scroll;
  height: calc(100vh - 200px)
}