.navbar {
  /* position: absolute;
  top: 44px;
  left: 0; */
  width: 1184px;
  height: 50px;
  background-color: #121516 !important;
  padding: 0;
  margin: -15px auto 0 auto;

}



.navbarMain {
  background-color: #FFF;
  margin-top: 0;
  z-index: 999;
}

.link {
  width: rem(50px);
  height: rem(50px);
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  background-color: #FFF;
  border: 1px solid #933;

  &:hover {
    /* background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5)); */
    background-color: var(--mantine-color-blue-light);
    color: var(--mantine-color-blue-light-color);
  }

  /* &[data-active] {

    &,
    &:hover {
      background-color: var(--mantine-color-blue-light);
      color: var(--mantine-color-blue-light-color);
    }
  } */
}